<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!-- Just set value "YES" or "NO" but only one should have "YES" -->
    <!--<add key="Demo" value="YES"/>
    <add key="Uat" value="NO"/>-->
    <add key="Demo" value="YES" />
    <add key="Production" value="NO" />
    <add key="DEMOURLS" value="Demosurl|Demofurl|DemowatertaxHome|DemogotoPropertyTaxNew|Demogeneratereceipt|DemoKioskRequest|Demoproptaxgetbalance|Demoonlinepaymentrequest|Demowatertaxpcmc|DemoPayPaymentApi|DemoWaterTaxPayU_Payment|DemoReceipt_BillCloudUrl|Demokiosk_card_request|Demokiosk_card_receipt|Demowithoutcard_kiosk_Request" />
    <add key="PRODUCTIONURLS" value="kisokrequest|getconsumer|generatereceipt|proptaxgetbalance|onlinepaymentrequest|Usurl|Ufurl|UwatertaxHome|UgotoPropertyTaxNew|watertaxpcmc|PayPaymentApi|Receipt_BillCloudUrl|WaterTaxPayU_Payment|kiosk_card_request|kiosk_card_receipt|withoutcard_kiosk_request" />
    <!-- all demo urls -->
    <add key="DemoReceipt_BillCloudUrl" value="http://103.224.241.94:8085/BillCloud/webapi/rainbowServiceController/v2/generateReceipt" />
    <add key="DemowatertaxHome" value="http://172.16.4.107:8010/PCMC/watertax.aspx" />
    <add key="DemogotoPropertyTaxNew" value="localhost:8010/PCMC/PropertyTaxNew.aspx" />
    <add key="Demosurl" value="localhost:8010/PCMC/PrintReceiptNewWater.aspx" />
    <add key="Demofurl" value="localhost:8010/PCMC/PrintReceiptNewWater.aspx" />
    <add key="DemoWaterTaxPayU_Payment" value="http://23.239.4.138:9001/v1/payment/online/kiosk_request" />
    <!--<add key="Demokiosk_card_request" value="https://water.cranb.in/api/kiosk/kiosk_card_request" />-->
    <add key="Demokiosk_card_request" value="https://esb.in.worldline.com:8443/retail/insertDetailsType4" />
    <add key="Demowithoutcard_kiosk_Request" value="https://water.cranb.in/api/kiosk/kiosk_request" />
   
    <add key="Demokiosk_card_receipt" value="https://water.cranb.in/api/kiosk/kiosk_card_receipt" />
    <add key="Demoproptaxgetbalance" value="http://103.224.247.136:8081/PropertyTaxServiceLokadalat/webapi/propertyTaxWebServiceController/getBalance" />
    <!--<add key="Demoonlinepaymentrequest11" value="http://propertytax.pcmcindia.gov.in:8080/pcmc/onlinePay/OnlinePaymentRequest.jsp?txtCustomerID=1040200124.00&amp;txtAdditionalInfo5=16082019&amp;txtTxnAmount=11234&amp;txtAdditionalInfo6=PCMC&amp;txtConsessionAmount=3.0&amp;txtAdditionalInfo1=PCMCLogIn&amp;txtAdditionalInfo1=PCMC&amp;txtAdditionalInfo4=1040200124.00&amp;txtAdditionalInfo3=0402192000124" />-->
    <add key="Demoonlinepaymentrequest" value="http://propertytax.pcmcindia.gov.in:8080/pcmc/onlinePay/OnlinePaymentRequest.jsp?" />
    <add key="Demowatertaxpcmc" value="http://water.pcmcindia.gov.in:26000/probity/get_consumer" />
    
    <add key="DemoPayPaymentApi" value="http://23.239.4.138:9001/v1/payment/online/kiosk_device_receipt?apikey=U0ydhj7MnzXc4PfgIKs9NmcKSWQA7asOP" />
    <!-- All uat urls-->
    <add key="proptaxgetbalance" value="http://103.224.247.141:8081/PropertyTaxService/webapi/propertyTaxWebServiceController/getBalance" />
    <add key="UwatertaxHome" value="http://localhost/PCMC/WaterTax.aspx" />
    <add key="UgotoPropertyTaxNew" value="http://localhost/PCMC/PropertyTaxNew.aspx" />
    <add key="Usurl" value="http://localhost/PCMC/PrintReceiptNewWater.aspx" />
    <add key="Ufurl" value="http://localhost/PCMC/PrintReceiptNewWater.aspx" />
    <add key="WaterTaxPayU_Payment" value="http://water.pcmcindia.gov.in:5004/v1/payment/online/kiosk_request" />
    <add key="getconsumer" value="http://water.pcmcindia.gov.in:26000/probity/get_consumer" />
    <add key="Receipt_BillCloudUrl" value="http://app.billcloud.in/webapi/rainbowServiceController/v2/generateReceipt" />
    <add key="onlinepaymentrequest" value="http://propertytax.pcmcindia.gov.in:8080/pcmc/onlinePay/OnlinePaymentRequest.jsp?" />
    <add key="watertaxpcmc" value="http://water.pcmcindia.gov.in:26000/probity/get_consumer" />
    <add key="PayPaymentApi" value="http://water.pcmcindia.gov.in:5004/v1/payment/online/kiosk_device_receipt?apikey=U0ydhj7MnzXc4PfgIKs9NmcKSWQA7asOP" />
    <add key="ProperttaxreturnurlBillCloud" value="http://localhost/PCMC/PrintReceiptNew.aspx" />
    <add key="kiosk_card_request" value="https://esb.in.worldline.com:9443/retailtype4prod/insertDetailsType4Prod" />
    <!--<add key="kiosk_card_request" value="https://water.pcmcindia.gov.in/api/kiosk/kiosk_card_request" />-->
    <add key="kiosk_card_receipt" value=" https://esb.in.worldline.com:8443/retail/insertDetailsType4" />
    <add key="withoutcard_kiosk_Request" value="https://water.pcmcindia.gov.in/api/kiosk/kiosk_request" />
    <!--This element is to put machine location address  || Change value that you want to print on receipt-->
    <add key="OfficeAddress" value="PCMC HO,Pimpri" />
    <add key="RMSSERVERURL" value="http://172.16.4.107:8010/PCMCRMS_Service/Service1.svc" />
    <add key="RMSSERVERURL1" value="http://localhost:50462/Service1.svc" />
    
  <add key="terminalID" value="0122796U" />
  </appSettings>
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="~/CustomError.aspx"></customErrors>
    <compilation targetFramework="4.6" debug="true">
      <assemblies>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: 81fca296-c5f3-423e-800d-766de09db3a5-->